body {
  background-color: #6d6262;
}

/* header {
  background-color: white;
} */

a {
  /* text-decoration: none; */
  color: #8cc63e;
}

.logo-container {
  background: white;
}

/********************\
* Navmenu coloration *
\********************/

.navmenu {
  /* background-color: #09302b; */
  background: linear-gradient(#206050,black);
}

/* List element coloration */
.navmenu ul a>li {
  background: linear-gradient(#206050,black);
}
/* Currently active menu coloration */
.navmenu ul>a>li.active {
  /* Original color:
   * background: linear-gradient(#164025,black);
   */
   background: linear-gradient(#408070, black);
}

/* Color change when mousing over nav links */

.navmenu ul a>li:hover {
  background: linear-gradient(#408070, black);
}

/********************\
* Footer Coloration  *
\********************/
.members {
  color: white;
  background: linear-gradient(#206050,black);
}


/*************************\
* Product list coloration *
\*************************/

.prod-button {
  background-color: #09302b;
}

.prod-list-entry {
  background-color: #09302b;
}

.prod-list-entry:hover {
  background-color: #105040;
}

.product-navigation {
  padding-bottom: 1rem;
  border-bottom: 2px solid silver;
}

/****************\
* Product images *
\****************/

figure img {
  border: 2px solid black;
}

.img_button {
  color: #ffffff;
  background: #09302b;
  background-image: -webkit-linear-gradient(top, #206050, black);
  background-image: -moz-linear-gradient(top, #206050, black);
  background-image: -ms-linear-gradient(top, #206050, black);
  background-image: -o-linear-gradient(top, #206050, black);
  background-image: linear-gradient(to bottom, #206050, black);
}

.img_button:hover {
  cursor: pointer;
  background: #505030;
  background-image: -webkit-linear-gradient(top, #408070, black);
  background-image: -moz-linear-gradient(top, #408070, black);
  background-image: -ms-linear-gradient(top, #408070, black);
  background-image: -o-linear-gradient(top, #408070, black);
  background-image: linear-gradient(to bottom, #408070, black);
  text-decoration: none;
}
