/**********************\
* Main header elements *
\**********************/

.main-header {
  display: flex;
  background-size: contain;
  flex-direction: column;
  height: 37%;
}

/* Header at top of page */

/* Logo container in header */
.logo-container {
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Main logo */
.header-logo {
  width: 100%;
  background: url("../../img/jpg/AspenlineLogoSmallTablet12.01.2017.jpg") no-repeat;
  background-size: contain;
  background-position: center;
}

/********************\
* nav menu in header *
\********************/
.navmenu {
  width: 100%;
  max-height: 20%;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.navmenu ul {
  height: 60%;
}

/*************************\
* Set nav list properties *
\*************************/
/*************************\
* Set nav list properties *
\*************************/
.menu a>li {
  font-size: 1.5rem;
  justify-content: flex-start;
  font-family: sans-serif;
  height: 2.3rem;
}

.members p {
  font-size: 1rem;
  margin: .25rem auto;
}
