/**********************\
* Main header elements *
\**********************/
.main-header {
  display: flex;
  background-size: contain;
  flex-direction: column;
  height: 20%;
}
/***********************\
* Header at top of page *
\***********************/

/* Logo container in header */
.logo-container {
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 1rem;
}

/* Main logo */
.header-logo {
  width: 100%;
  background: url("../../img/jpg/AspenlineLogoTablet12.01.2017.jpg") no-repeat;
  background-size: contain;
  background-position: center;
}

/********************\
* nav menu in header *
\********************/
.navmenu {
  border-top: 2rem solid #8cc63e;
  border-bottom: 4px solid silver;
  width: 100%;
  height: 3rem;
  box-sizing: content-box;
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/*************************\
* Set nav list properties *
\*************************/

.menu a{
  display: block;
}

.menu a>li {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-family: sans-serif;
  height: 100%;
  width: 10rem;
}

.members p {
  font-size: 1rem;
  box-sizing: border-box;
  margin: .5rem 0;
}
