main {
  width: 100%;
}

.promotional {
  width: 100%;
  height: 375px;
  background: url("../../img/jpg/SwingThing.jpg") no-repeat;
  background-size: contain;
  background-position: top;
  display: block;
}
