main {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.promotional {
  margin: auto;
  width: 50%;
  height: 460px;
  background: url("../../img/jpg/SwingThing.jpg") no-repeat;
  background-size: contain;
  background-position: top;
  display: inline-block;
}
