main {
  width: 100%;
  text-align: center;
}

/**************\
* Product list *
\**************/

.prod-list {
  /* Inline styling was used as well */
  display: none;
  flex-flow: row wrap;
}

.prod-list-entry {
  width: 100%;
  box-sizing: border-box;
  margin: .2rem;
  height: 2rem;
}

.prod-list-entry a {
  color: silver;
  width: 100%;
  display: block;
  padding: .5rem;
}

.img_button {
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.alt_img_txt {
  text-align: center;
}

.img_options {
  display: flex;
  justify-content: center;
}

.members {
  height: 15%;
  flex-direction: column;
  flex-wrap: wrap;
}

/*********************\
* Products formatting *
\*********************/

input[type="checkbox"] {
  display: none;
}

.products {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
}

.product {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: 2px solid silver;
}

.controller {
  width: 300px;
  cursor: pointer;
}

.product-image {
  width: 300px;
  height: 300px;
}

.product-image>figcaption {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.product-image>figure {
  font-size: 0;
  text-align: center;
}

figure img {
  display: inline-block;
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.product-info {
  width: 100%;
  max-height: 0;
  margin: 1rem auto;
  padding: 1rem;
  transition: all .5rem;
  overflow: hidden;
  text-align: left;
}

.prod-pricing {
  width: 100%;
  border: 1px solid silver;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
}

.prod-quantity-cell {
  border: 1px solid silver;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}

.prod-price-cell {
  border: 1px solid silver;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}


/****************************\
* Set checkbox for products  *
* Makes product info visable *
\****************************/

input[type=checkbox]:checked+.product>.product-info {
  max-height: 100rem;
}

input[type=checkbox]:checked+.product>.controller>.product-image>.product-name {
  font-size: 1.25rem;
}
