main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/****************************\
* Formatting answer sections *
\****************************/
input[type=checkbox] {
  display: none;
}

.info-container {
  border: 1px solid silver;
}

.controller {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #07302B;
  color: lightgray;
  display: block;
  min-height: 2.5rem;
  text-align: center;
}

.controller::after {
  float: right;
  content: "+";
  transition: .35s;
}

input[type=checkbox]:checked~.controller::after {
  transform: rotate(135deg);
}

.faq-answer {
  text-align: left;
  border-bottom: 2px solid silver;
  overflow: hidden;
  max-height: 0;
  transition: all .35s;
  background-color: #404020;
}

ol li {
  list-style: decimal;
}

input[type=checkbox]:checked~.faq-answer {
  max-height: 100rem;
}
