main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/**************************************\
* Overriding how the members section   *
* of the footer looks on small screens *
\**************************************/
.members {
  height: 15%;
  flex-direction: column;
  flex-wrap: wrap;
}

/****************************\
* Formatting answer sections *
\****************************/
input[type=checkbox] {
  display: none;
}

.info-container {
  border: 1px solid silver;
  width: 100%;
}

.controller {
  font-size: 1.15rem;
  cursor: pointer;
  background-color: #07302B;
  color: lightgray;
  display: block;
}

.controller::after {
  float: right;
  content: "+";
  transition: .35s;
}

input[type=checkbox]:checked~.controller::after {
  transform: rotate(135deg);
}

.faq-answer {
  text-align: left;
  border-bottom: 2px solid silver;
  font-size: 1rem;
  overflow: hidden;
  max-height: 0;
  transition: .5s;
  background-color: #404020;
}

ol li {
  list-style: decimal;
}

input[type=checkbox]:checked~.faq-answer {
  max-height: 100rem;
}
