main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/****************************\
* Formatting answer sections *
\****************************/
input[type=checkbox] {
  display: none;
}

.info-container {
  width: 100%;
  border: 1px solid silver;
  margin: 0 auto;
  display: flex;
}

.controller {
  font-size: 1.25rem;
  cursor: pointer;
  /* background: linear-gradient(#205050,black); */
  background-color: #07302B;
  color: lightgray;
  width: 33%;
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid silver;
}

input[type=checkbox]:checked~.controller::after {
  transform: rotate(135deg);
}

.faq-answer {
  text-align: left;
  padding-left: 1rem;
  background-color: #404020;
  width: 100%;
}

ol li {
  list-style: decimal;
}

input[type=checkbox]:checked~.faq-answer {
  max-height: 100rem;
}
