:root {
    --main-background-color: #6D6262;
    --header-coloration: white;
    --main-background-accent-font: #8CC63E;
    --dark-accent: #0D3D33;
    --dark-accent-gradient: linear-gradient(#408070, black);
    --light-accent: #8CC54F;
    --forest-green: #44c767;
}

body {
  background-color: var(--main-background-color);
}

a {
  color: #8cc63e;
}

.main-header {
  background: var(--header-coloration);
}

/* notice on products page */
.notice {
  color: var(--main-background-accent-font);
}

/********************\
* Navmenu coloration *
\********************/

.navmenu {
  background: var(--dark-accent);
}

/* List element coloration */
.navmenu ul a>li {
  background: var(--dark-accent);
}
/* Currently active menu coloration */
.navmenu ul>a>li.active {
   background: var(--dark-accent-gradient);
}

/* Color change when mousing over nav links */

.navmenu ul a>li:hover {
  background: var(--dark-accent-gradient);
}

/********************\
* Footer Coloration  *
\********************/
.members {
  color: white;
  background: var(--dark-accent);
}

.testimonial-logo {
  background-color: #888;
}

/*************************\
* Product list coloration *
\*************************/

.prod-button {
  background-color: #09302b;
}

.prod-list-entry {
  background-color: #09302b;
}

.prod-list-entry:hover {
  background-color: #105040;
}

.product-navigation {
  padding-bottom: 1rem;
  border-bottom: 2px solid silver;
}

/****************\
* Product images *
\****************/

figure img {
  border: 2px solid black;
}

.img_button {
  color: #ffffff;
  background: #09302b;
  background-image: -webkit-linear-gradient(top, #206050, black);
  background-image: -moz-linear-gradient(top, #206050, black);
  background-image: -ms-linear-gradient(top, #206050, black);
  background-image: -o-linear-gradient(top, #206050, black);
  background-image: linear-gradient(to bottom, #206050, black);
}

.img_button:hover {
  cursor: pointer;
  background: #505030;
  background-image: -webkit-linear-gradient(top, #408070, black);
  background-image: -moz-linear-gradient(top, #408070, black);
  background-image: -ms-linear-gradient(top, #408070, black);
  background-image: -o-linear-gradient(top, #408070, black);
  background-image: linear-gradient(to bottom, #408070, black);
  text-decoration: none;
}

.product-name {
    background-color: var(--dark-accent);
}

.product-name:hover {
    background-color: var(--light-accent);
    color: black;
}

.controller {
    background-color: var(--dark-accent);
    color: lightgray;
}

.faq-answer {
    background-color: #404020;
}

#mobile-toggle-label {
    background-color:var(--forest-green);
    border:4px solid var(--dark-accent);
    border-radius: 5px;
}
