/*************************\
* Formatting contact info *
\*************************/

.contact-info {
  display: flex;
  flex: row wrap;
  justify-content: space-around;
}

.contact {
  text-align: center;
}

.contact h1 {
  font-size: 1.5rem;
}

.contact p {
  font-size: 1.25rem;
}

.contact a {
  font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .contact-info {
        flex-direction: column;
    }

    .contact {
        margin-top: 2em;
    }
}
