/* resets  as needed */
html, body, header, figure, nav, ul, li, main, article, section {
  margin: 0;
  padding: 0;
  color: silver;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main, header {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  margin: 1.5rem 0;
}

li {
  list-style: none;
}

.navmenu a {
  text-decoration: none;
}

.menu a>li {
  display: flex;
  align-items: center;
}

/* Universal CSS as needed */

.misc-info {
  color: white;
  text-align: center;
}

.members {
  display: flex;
  justify-content: space-around;
}

.membership {
  width: 100%;
  display: flex;
  flex-grow;
  justify-content: center;
  align-items: center;
}

.spacer {
  width: 6rem;
}
