main {
  width: 100%;
}

/*************************\
* Formatting testimonials *
\*************************/
.testimonials h1 {
  text-align: center;
}

.testimonial {
  margin: 2rem auto;
  padding: 1rem;
  text-align: left;
  border-bottom: 2px solid silver;
}

.testimonial-footer {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/**************************************\
* Overriding how the members section   *
* of the footer looks on small screens *
\**************************************/

.members {
  height: 15%;
  flex-direction: column;
  flex-wrap: wrap;
}
