main {
  /* width: 80%; */
  height: 50%;
  margin: 0 auto;
}

/*************************\
* Formatting contact info *
\*************************/

.contact-info {
  text-align: center;
}

.contact h1 {
  font-size: 2rem;
}

.contact p {
  font-size: 1.5rem;
}

.contact a {
  font-size: 1.5rem;
}
